/**
 * Fit
 * ============================================ */

@mixin fit($small: 1, $medium: 2, $large: 3) {
  display: block;
  overflow: hidden;
  > * {
    @include box-sizing(border-box);
    height: auto;
    float: left;
    list-style: none;
    width: 100% / $small;
  }
  > *:nth-of-type(#{$small}n+1)     { clear: both; }
  > *:nth-of-type(#{$small}n)       { clear: none; }
  @include breakpoint(m) {
    > * {
      width: 100% / $medium;
    }
    > *:nth-of-type(#{$medium}n+1)  { clear: both; }
    > *:nth-of-type(#{$medium}n)    { clear: none; }
  }
  @include breakpoint(l) {
    > * {
      width: 100% / $large;
    }
    > *:nth-of-type(#{$large}n+1)   { clear: both; }
    > *:nth-of-type(#{$large}n)     { clear: none; }
  }
}