/**
 * Scale Embed
 * ============================================ */

%embed_el {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin scale-embed($youtube: false) {
  height: 0;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  @if $youtube == "true" {
    padding-top: 30px;
  }

  > embed,
  > iframe,
  > object,
  > svg,
  > video {
    @extend %embed_el;
  }

}

@mixin scale-embed__el {
  @extend %embed_el;
}