/**
 * Set Type
 * ============================================ */

@mixin set-type-huge {
  font-size  : $font-xl * 1.5;
  line-height: $line-xs;
  @include breakpoint(m) {
    font-size  : $font-h * 1.3;
    line-height: $line-xxs;
  }
}
@mixin set-type-xlarge {
  font-size  : $font-xl;
  line-height: $line-m;
  @include breakpoint(m) {
    font-size  : $font-xxl;
    line-height: $line-m;
  }
}
@mixin set-type-large {
  font-size  : $font-l;
  line-height: $line-m;
  @include breakpoint(m) {
    font-size  : $font-xl;
    line-height: $line-m;
  }
}
@mixin set-type-medium {
  font-size  : $font-m;
  line-height: $line-s;
  @include breakpoint(m) {
    font-size  : $font-l;
    line-height: $line-m;
  }
}
@mixin set-type-small {
  font-size  : $font-s;
  line-height: $line-m;
  @include breakpoint(m) {
    font-size  : $font-m;
    line-height: $line-m;
  }
}
@mixin set-type-xsmall {
  font-size  : $font-xs;
  line-height: $line-s;
  @include breakpoint(m) {
    font-size  : $font-s;
    line-height: $line-s;
  }
}