/**
 * Set Type
 * ============================================ */

@mixin set-type-huge {
  font-size  : $font-xxl * 1.25;
  line-height: $line-s;
  @include breakpoint(m) {
    font-size  : $font-xxl * 2;
    line-height: $line-s;
  }
}
@mixin set-type-xlarge {
  font-size  : $font-xl;
  line-height: $line-m;
  @include breakpoint(m) {
    font-size  : $font-xxl;
    line-height: $line-m;
  }
}
@mixin set-type-large {
  font-size  : $font-l;
  line-height: $line-m;
  @include breakpoint(m) {
    font-size  : $font-xl;
    line-height: $line-m;
  }
}
@mixin set-type-medium {
  font-size  : $font-m;
  line-height: $line-m;
  @include breakpoint(m) {
    font-size  : $font-l;
    line-height: $line-l;
  }
}
@mixin set-type-small {
  font-size  : $font-s;
  line-height: $line-m;
  @include breakpoint(m) {
    font-size  : $font-m;
    line-height: $line-m;
  }
}
@mixin set-type-xsmall {
  font-size  : $font-xs;
  line-height: $line-m;
  @include breakpoint(m) {
    font-size  : $font-s;
    line-height: $line-m;
  }
}
@mixin set-type-tiny {
  font-size  : $font-xxs;
  line-height: $line-s;
  @include breakpoint(m) {
    font-size  : $font-xs;
    line-height: $line-s;
  }
}