/**
 * Set Cursor
 * ============================================ */

@mixin set-cursor($normal: default, $active: default) {
  cursor: -webkit-#{$normal};
  cursor: -moz-#{$normal};
  cursor: #{$normal};
  &:active {
    cursor: -webkit-#{$active};
    cursor: -moz-#{$active};
    cursor: #{$active};
  }
}