/*
  ===============================================
  # CONFIG
  ===============================================
*/

// Colour Palette
// ----------------------------------------------

$mono-Blk           : #000;
$mono-LD            : #1F1F1F;
$mono-D             : #404040;
$mono-HD            : #616161;
$mono-M             : #7F7F7F;
$mono-LLt           : #9E9E9E;
$mono-Lt            : #BFBFBF;
$mono-HL            : #E0E0E0;
$mono-Wt            : #fff;

// Rainbow
$red-LD             : #800408;
$red-HD             : #FF343B;
$red-M              : #FF6166;
$red-LLt            : #FF8D91;
$red-HL             : #FFB9BB;

$blue-LD            : #004770;
$blue-HD            : #00578A;
$blue-M             : #4B88AC;
$blue-LLt           : #B2CCDB;
$blue-HL            : #E5EDF3;

// Shadows and glows
// ----------------------------------------------

$shadow-heavy       : rgba(0,0,0,0.85);
$shadow-strong      : rgba(0,0,0,0.71);
$shadow-medium      : rgba(0,0,0,0.57);
$shadow-weak        : rgba(0,0,0,0.29);
$shadow-light       : rgba(0,0,0,0.15);

$flare-heavy        : rgba(255,255,255,0.85);
$flare-strong       : rgba(255,255,255,0.71);
$flare-medium       : rgba(255,255,255,0.57);
$flare-weak         : rgba(255,255,255,0.29);
$flare-light        : rgba(255,255,255,0.15);

// Typography
// ----------------------------------------------

// Font Families
$primary-font       : sans-serif;
$secondary-font     : serif;
$icon-font          : 'iconfont';

// Font Sizes
$font-xxl           : 30px;
$font-xl            : 24px;
$font-l             : 20px;
$font-m             : 16px;
$font-s             : 14px;
$font-xs            : 12px;
$font-xxs           : 11px;

// Font Weights
$font-light         : 300;
$font-regular       : 400;
$font-medium        : 500;
$font-bold          : 700;

// Line Heights
$line-m             : 1.50em;
$line-s             : 1.25em;

$spacing            : 0.2em;

// Spaces
// ----------------------------------------------
$spaces: (
  'n'   0,
  'x'   5px,
  's'   10px,
  'm'   15px,
  'l'   20px,
  'h'   40px
)!default;

$space-n            : 0;
$space-x            : 5px;
$space-s            : 10px;
$space-m            : 15px;
$space-l            : 20px;
$space-h            : 40px;

// Border Radii
// ----------------------------------------------
$radius-absolute    : 1000px;
$radius-l           : 9px;
$radius-m           : 6px;
$radius-s           : 3px;

// Time definitions
// ----------------------------------------------
$time-l             : .6s;
$time-m             : .4s;
$time-s             : .2s;