/**
 * Set Cursor
 * ============================================ */

@mixin set-cursor($normal-cursor: default, $active-cursor: default, $clicked-cursor: default) {
  cursor: -webkit-$normal-cursor;
  cursor: -moz-$normal-cursor;
  cursor: $normal-cursor;
  &:hover {
    cursor: -webkit-$hover-cursor;
    cursor: -moz-$hover-cursor;
    cursor: $hover-cursor;
  }
  &:active {
    cursor: -webkit-$active-cursor;
    cursor: -moz-$active-cursor;
    cursor: $active-cursor;
  }
}